# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env

# Databases
*.db
*.sqlite3

# Logs
*.log

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db